  body {
    min-width: 1000px;
    margin: 0;
    padding: 0;
    font-family: Trebuchet MS;
    font-size: 16px;
    line-height: normal;
    color: #000000;
    /* background: url(../img/style.png) no-repeat top center; */
  }

  p{
    font-family: Tahoma;
  }
  .container {
    width: 1020px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .main-header {
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: #6451D5;
  }

  .main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .main-menu li {
    display: inline-block;
    margin-right: 50px;
    vertical-align: top;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }

  .main-menu li:last-child {
    margin-right: 0px;
  }

  .header-top {
    margin-bottom: 70px;
  }

  .header-top::after {
    display: table;
    clear: both;
    content: "";
  }

  .logo {
    float: left;
    width: 180px;
    height: 100px;
  }

  .logo img {
    display: block;
  }

  .main-menu {
    float: right;
    width: 670px;
    margin-top: 20px;
  }

  .main-menu a {
    color: #ffffff;
    text-decoration: none;
  }

  .main-menu a:hover {
    text-decoration: underline;
  }

  .main-menu a:active {
    text-decoration: none;
    opacity: 0.3;
  }

  .btn {
    display: inline-block;
    padding: 23px 80px;
    vertical-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Trebuchet MS;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  .btn-blue {
    background: #382D78;
  }

  .btn-blue:hover {
    background: #32286C;
  }

  .btn-blue:active {
    background: #32286C;
  }

  .promo {
    position: relative;
    z-index: 10;
    width: 440px;
  }

  .promo::after{
    content: "";
    position: absolute;
    top: -20px;
    left: 380px;
    z-index: -1;
    width: 830px;
    height: 433px;
    background-image: url(../img/bg-promo.png);
    background-repeat: no-repeat;
  }

  .promo-title {
    margin-bottom: 30px;
    color: #FFF;
    font-family: Trebuchet MS;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .promo p {
    margin: 0;
    margin-bottom: 55px;
    color: #BCB3F2;
    font-family: Tahoma;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    width: 379px;
  }

  .main-header .container:before{
    content: none;
  }

  .features {
    padding-top: 50px;
    padding-bottom: 60px;
    background-color: #EFEFEF;
    /* min-height: 283px; */
      
  }

  .features-title {
    margin: 0;
    color: #000;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
  }

  .features-item p {
    margin: 0;
    color: #555;
    text-align: center;
    font-family: Tahoma;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .features .container::after {
    
    display: table;
    clear: both;
    content: "";
  }

  .features .container{
    display: flex;
    justify-content: center;
  }

  .features-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: right;
    margin-right: auto;
  }

  .features-item:last-child {
    margin-right: 0px;
  }

  .features-icon {
    margin-bottom: 15px;
    text-align: center;
    width: 108px;
    height: 108px;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
  }

  .features-icon-classes{
    background-position: -308px 0px;
  }

  .features-icon-work{
    background-position: -616px 0px;
  }

  .information {
    padding-top: 40px;
    padding-bottom: 75px;
  }

  .information-title,
  .contacts-title {
    margin: 0;
    margin-bottom: 55px;
    /* min-height: 55px; */
    line-height: 48px;
    font-family: Trebuchet MS;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
  }

  .container .table-information{
    border-collapse: collapse;
    width:100%;
    /* min-height: 275px; */
    width: 100%;
    border: none;
    
  }
  .container .table-information td{
    padding: 20px 30px;
    border: 1px solid #A7A7A7;
  }

  .table-information tr {
    color: #404040;
    font-family: Trebuchet MS;
    font-size: 22px;
    background: #ffffff;
  }

  .table-information tr:first-child {
    font-family: Tahoma;
    font-size: 18px;
    font-weight: 400;
    background: #D9D9D9;
  }

  .table-information td:first-child{
    width: 220px;
  }

  .contacts {
    padding-top: 55px;
    padding-bottom: 75px;
    background-color: #EFEFEF;
  }

  .contacts-form {
    float: left;
    width: 620px;
  }

  .contacts-form td {
    padding-bottom: 16px;
  }

  .contacts-form .title {
    width: 90px;
    padding-right: 20px;
    vertical-align: middle;
    text-align: right;
    font-family: Trebuchet MS;
    font-size: 18px;
    font-weight: 700;
  }

  .contacts-form .field {
    width: 515px;
  }

  .contacts-form input[type="text"],
  .contacts-form textarea {
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
          box-sizing: border-box;
    width: 100%;
    padding: 17px 20px;
    color: #404040;
    font-family: Tahoma;
    font-size: 18px;
    font-weight: 400;
    outline: none;
    border: 2px solid #b2b2b2;
    border-radius: 2px;
  }

  .contacts-form input[type="text"]:hover,
  .contacts-form textarea:hover {
    border: 2px solid #7F7F7F;
  }

  .contacts-form input[type="text"]:focus,
  .contacts-form textarea:focus {
    border: 2px solid #6451D5;
  }

  .contacts-form textarea {
  min-height: 105px;
  resize: none;
  }

  .contacts-form .btn {
    width: 100%;
    border-radius: 3px;
  }

  .contacts-instruction {
    float: right;
    width: 320px;
  }

  .contacts-instruction h3 {
    margin: 0;
    margin-bottom: 25px;
    line-height: 24px;
    font-family: Trebuchet MS;
    font-size: 22px;
    font-weight: 700;
  }

  .contacts-instruction p {
    margin: 0;
    margin-bottom: 25px;
    color: #555;
    font-family: Tahoma;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
  }

  .contacts-instruction .contacts-alert {
    margin-top: 50px;
    margin-bottom: 0;
  }
  
  .contacts-alert strong {
    color: #000000;
  }

  .contacts .container {
    display: table;
    clear: both;
    content: "";
  }

  .main-footer {
    padding-top: 60px;
    padding-bottom: 90px;
    background-color: #2A2546;
    color: #FFF;
    font-size: 18px;
    line-height: normal;
  }

  .footer-top::after,
  .footer-bottom::after {
    display: table;
    clear: both;
    content: "";
  }

  .footer-address {
    float: left;
    width: 300px;
    margin-right: 40px;
  }

  .footer-address .logo {
    float: none;
  }

  .footer-address p {
    margin: 0;
    margin-top: 60px;
    font-size: 18px;
    font-weight: 400;
  }

  .footer-menu {
    float: left;
    width: 150px;
    margin-right: auto;
    margin-top: 25px;
  }

  .footer-menu h3 {
    margin: 0;
    margin-bottom: 35px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .footer-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .footer-menu li {
    margin-bottom: 20px;
  }

  .footer-menu a {
    color: #A39EBE;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
  }

  .footer-menu a:hover {
    text-decoration: underline;
  }
  
  .footer-menu a:active {
    text-decoration: none;
    opacity: 0.3;
  }

  .footer-menu:last-child {
    float: right;
    margin-right: 0px;
  }

  .main-footer .main-footer-menu::after{
    display: table;
    clear: both;
    content: "";
  }

  /* .main-footer .main-footer-menu{
    display: flex;
    justify-content: center;
  }

  .contacts-form .field {
    width: 470px;
  } */

  /*======================================
  Системное оформление - не изменять
  =======================================*/

.feedback .container:before,
.contacts .container:before,
.features .container:before,
.main-header .container:before{
  content: none;
}

