body {
    margin: 0;
    padding: 0;
    background: url(../img/style.png) no-repeat top center;
  }

  .container {
    width: 1020px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .main-header {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .header-top {
    margin-bottom: 70px;
  }

  .header-top::after {
    display: table;
    clear: both;
    content: "";
  }

  .logo {
    float: left;
    width: 180px;
    min-height: 85px;
  }
  
  .main-menu {
    float: right;
    width: 670px;
    margin-top: 20px;
    min-height: 40px;
  }
  
  .promo {
    width: 440px;
    min-height: 410px;
  }

  .features {
    padding-top: 50px;
    padding-bottom: 75px;
      
  }

  .features .container::after {
    
    display: table;
    clear: both;
    content: "";
  }

  .features .container{
    display: flex;
    justify-content: center;
  }

  .features-item {
    float: left;
    width: 300px;
    align-items: right;
    margin-right: auto;
    min-height: 190px;
  }

  .features-item:last-child {
    margin-right: 0px;
  }

  .information {
    padding-top: 20px;
    padding-bottom: 75px;
  }

  .information-title,
  .contacts-title {
    margin: 0;
    margin-bottom: 55px;
    
    min-height: 55px;
  }

  .container table{
    border-collapse: collapse;
    width:100%;
    min-height: 275px;
    border: none;
  }
  /* .container  td{
    padding-left: 30px;
  }

  .first td{
    min-height: 73px;
    min-width: 255px;
    background: lightgray;
	  border: 1px solid #dddddd;
  }

  .second td {
    min-height: 100px;
    min-width: 255px;
  }

  .therd td {
    min-height: 100px;

  } */
 

  .contacts {
    padding-top: 55px;
    padding-bottom: 75px;
  }

  .contacts-form {
    float: left;
    width: 620px;
    min-height: 350px;
  }
  
  .contacts-instruction {
    float: right;
    width: 320px;
    min-height: 350px;
  }

  .contacts .container {
    display: table;
    clear: both;
    content: "";
  }

  .main-footer {
    padding-top: 60px;
    padding-bottom: 90px;
  }

  .main-footer .main-footer-menu::after{
    display: table;
    clear: both;
    content: "";
  }
  
  .footer-address {
    float: left;
    width: 300px;
    margin-right: 40px;
    min-height: 210px;
  }

  .main-footer .main-footer-menu{
    display: flex;
    justify-content: center;
  }
  .footer-menu {
    float: left;
    width: 150px;
    margin-right: auto;
    margin-top: 25px;
    min-height: 185px;
  }

  .footer-menu:last-child {
    margin-right: 0px;
  }

  /*======================================
 Системное оформление - не изменять
=======================================*/
